Investigate:
	Elemental Workshop I " 20 Mining (boostable)[t 1]"
	Recipe for Disaster

Other [Assume the player has ALL of these!]
	None
	Trustworthy friend
	A partner
	Something to cut webs


	Note:
		Note: Only the quest requirements must be met to start this quest. If you do not have the skill requirements, you may be unable to continue at certain points until you meet them.

		Note: The following skill levels are required to complete the quest. These skills are not required to unlock access to fairy rings, for which you only need to progress the quest up to a certain point. However, building fairy rings in the player-owned house requires full quest completion.

		[Lunar Diplomacy]
		Note: Lokar will not talk to you if you do not have all of the required non-boostable stats.

		[The Queen of Thieves]
		Note: Use "A Favour Certificate" reward from Client of 	Kourend on Piscarilius for 20% favour. 

		[Making Friends with My Arm]
		It is beneficial to have a higher Agility level.

		[The Fremennik Exiles]
		No boosts allowed:

	If something other something else
		The Fremennik Trials


	Access to Keldagrim
	Access to the following runic altars: Air, Earth, Fire, Water.
	Access to a crafting table 3.
	Access to a player-owned house workshop and crafting table or the Grand Exchange
	Access to the Kharazi Jungle
	Started the Firemaking part of Barbarian Training to gain access to the Ancient Cavern 

	You must have the Commorb in your inventory to start the quest.
	
	At least 60% favour in the Tai Bwo Wannai Cleanup minigame before starting this quest - this will be subtracted from the total favour 

	Cast Claws of Guthix, Flames of Zamorak, and Saradomin Strike each 100 times inside the Mage Arena.

	It is beneficial to have a high Combat and Agility level. 
	
	Balloon flight route to Gnome Stronghold must be unlocked to start the quest.

	20% Port Piscarilius favour
	20% Hosidius favour
	20% Shayzien favour
	20% Arceuus favour
	20% Lovakengj favour
	100 Kudos

Skill
	# skill (boostable)
	# skill (unknown)
	# skill (not boostable)
	# Combat
	Some players will need 31 prayer.

Quests
	Completion of the following quests
	Completion of the ... (mini)quest
	Completion of 
	Requires
	Pirate Pete subquest of Recipe for Disaster
	"is required to", "finished", "completed"
	
	Started
	Started A and B
	Partial completion of 
	The Giant Dwarf started

	So, if a line has "started" or "partial completion" then it is as such, otherwise it is completed.
	*special case* Completed Horror from the Deep or partial completion of The Fremennik Trials
		This is the only one where there is a choice: "or".
		For now, partial is considered required so don't worry about it.
	


	

Quest Points
	#

Combat:
	Must be able to:
		defeat
		defend
	[The] ability to
		withstand and evade attacks
		withstand
		defeat
		defend
		get past aggressive
		evade
		run from
		run past
		defeat or run away from
		kill
	Be able to kill
	Capable of killing or running away from